body {
  font-family: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("./coffee_image.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cont {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding-top: 21px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  color: #FFF;
  font-family: Clicker Script;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav .naver {
  display: flex;
  gap: 60px;
}
nav .btn {
  display: flex;
  gap: 62px;
}
nav a {
  text-decoration: none;
  color: #fff;
  @import url(styleText);
}
nav li {
  list-style: none;
}
nav .btn2 {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 14px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  padding: 10px 25px;
}
nav .btn1 {
  border-bottom: 1px rgb(182, 182, 182);
  text-decoration: none;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-decoration-line: underline;
  line-height: normal;
}

.page {
  color: #FFF;
  max-width: 80%;
  width: 100%;
}
.page .we {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 183px;
}
.page .cof {
  color: #FFF;
  font-family: Clicker Script;
  font-size: 220px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.page .per {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  width: 527px;
}
.page button {
  color: #1E1E1E;
  border: none;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  padding: 13px 26px;
  margin-top: 30px;
}

.min1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
  max-width: 80%;
  width: 100%;
}
.min1 .htext1 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
}
.min1 .pter1 {
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  width: 585px;
  padding-top: 20px;
}

button {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  padding: 13px 26px;
  border: none;
  margin-top: 30px;
}

.min2 {
  text-align: center;
  position: relative;
  padding-top: 227px;
}
.min2 .page2t {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.min2 .page2p {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}
.min2 .seimg2 {
  width: 498px;
  height: 272px;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  top: 0;
}

.min3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 32px;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.min3 .se5 {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  height: 364px;
  flex-shrink: 0;
  position: relative;
}
.min3 .se5 .prot1 {
  padding-top: 20px;
}
.min3 .se6 {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  height: 364px;
  flex-shrink: 0;
  position: relative;
}
.min3 .se6 .prot1 {
  padding-top: 20px;
}

.buter1 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -20px;
}

.prodimg1 {
  width: 100%;
  height: 222px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */