body {
  font-family: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("./coffee_image.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cont {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding-top: 21px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  nav li {
    display: none;
  }
}
nav h1 {
  color: #FFF;
  font-family: Clicker Script;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav .naver {
  display: flex;
  gap: 60px;
}
nav .btn {
  display: flex;
  gap: 62px;
}
nav a {
  text-decoration: none;
  color: #fff;
  @import url(styleText);
}
nav li {
  list-style: none;
}
nav .btn2 {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 14px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  padding: 10px 25px;
}
nav .btn1 {
  border-bottom: 1px rgb(182, 182, 182);
  text-decoration: none;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-decoration-line: underline;
  line-height: normal;
}

.page {
  color: #FFF;
  max-width: 80%;
  width: 100%;
}
.page .we {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 183px;
}
.page .cof {
  color: #FFF;
  font-family: Clicker Script;
  font-size: 220px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.page .per {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  width: 527px;
}
.page button {
  color: #1E1E1E;
  border: none;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  padding: 13px 26px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .cof {
    font-size: 120px;
  }
  .na1 {
    display: none;
  }
}
.min1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
  max-width: 80%;
  width: 100%;
}
.min1 .htext1 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
}
.min1 .pter1 {
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  width: 585px;
  padding-top: 20px;
}

button {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  padding: 13px 26px;
  border: none;
  margin-top: 30px;
}

.min2 {
  text-align: center;
  position: relative;
  padding-top: 227px;
}
.min2 .page2t {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.min2 .page2p {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}
.min2 .seimg2 {
  width: 498px;
  height: 272px;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  top: 0;
}

.min3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.min3 .se5 {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  height: 364px;
  flex-shrink: 0;
  position: relative;
  margin-top: 32px;
}
.min3 .se5 .prot1 {
  padding-top: 20px;
}
.min3 .se6 {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  height: 364px;
  flex-shrink: 0;
  position: relative;
  margin-top: 32px;
}
.min3 .se6 .prot1 {
  padding-top: 20px;
}

.buter1 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -20px;
}

.prodimg1 {
  width: 100%;
  height: 222px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.min4 {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 106px;
}
.min4 .sepage4 {
  position: relative;
}
.min4 .pageh5 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.min4 .page4p {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}
.min4 .page4img {
  width: 478px;
  height: 261px;
  flex-shrink: 0;
  position: absolute;
  right: -70px;
  top: -100px;
}

.aboutdiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.aboutdiv .about1 {
  background: #FFEED8;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}
.aboutdiv .aboutimg {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.aboutdiv .abouth5 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 10px;
}
.aboutdiv .aboutp {
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

.min6 {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
}
.min6 .contactp {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.min6 .contacth6 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 10px;
}
.min6-button {
  margin-top: 32px;
}

.contcoffee {
  background-image: url("https://s3-alpha-sig.figma.com/img/d82c/23a4/c48f5798630e23cbbe9800939428018f?Expires=1701043200&Signature=W1Ou9KfbQoh~YsOYig6TGlf0StX~D~SI~G7UGYFqMv8-0mJsrQkLIMFURuyvCnQ0TtWhu9n1~KazJk6zKgvcFv0NenQ8tNHxbcJupK6cnuAeOVbHWE93fOVZH7bsQBCqEqrbFhldDAloeJwT7weJpalu4lLudAwbBARXMTvQwMQFLih7rVfdTLEeEg2aJom9cgGw4lIUMSanblzDZcqvCrAKTD0bQ-AKhh9erUVn99j4nm-yUS2eQ9oNax-5AMs4fdSsj~LWRaPxJ8Rlz-tVFsPz6Svut9flfwACGIBYGpbPrvB2lABA97FJqHgudkSqt3vC1-v2~CMA4DgfsVqX7Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -12;
  margin-top: 90px;
}
.contcoffee .bigcoffee {
  display: flex;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 200px;
}
.contcoffee .contmidcof {
  width: 575px;
}
.contcoffee .abouth6 {
  color: #ffffff;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contcoffee .aboutper {
  color: #ffffff;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  padding-top: 22px;
}
.contcoffee .aboutcofimg1 {
  width: 300px;
  height: 467px;
  flex-shrink: 0;
  z-index: 10;
}
.contcoffee .aboutcofimg2 {
  width: 657px;
  height: 574px;
  flex-shrink: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.min11 {
  text-align: center;
  position: relative;
  padding-top: 83px;
}
.min11 .page2t {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.min11 .page2p {
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}

.meneger {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  margin-top: 43px;
  height: 524px;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
}
.meneger .manegerh6 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 220px;
  font-style: normal;
  font-weight: 700;
  line-height: 112px; /* 50.909% */
  padding-top: 54px;
}
.meneger .managercont {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
.meneger .manegerp {
  color: #707070;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 200% */
}
.meneger .managerimg1 {
  position: absolute;
  left: -60px;
}
.meneger .managerimg2 {
  position: absolute;
  right: -60px;
}
.meneger .managername {
  position: relative;
  text-align: center;
}
.meneger .manname {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 28px;
}
.meneger .manabout {
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
  padding-top: 4px;
}
.meneger .managerimg3 {
  position: absolute;
  border-radius: 16px;
  width: 112px;
  height: 112px;
  flex-shrink: 0;
  bottom: -200px;
  right: 760px;
}/*# sourceMappingURL=style.css.map */