@import "./_variable";
@import "./_mixins";
body{
    font-family: 'Playfair Display', serif;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url("./coffee_image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}
.cont{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding-top: 21px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;


    @media(max-width: 600px){
        li{
            display: none;
        }
    }

    h1{
        color: #FFF;
        font-family: Clicker Script;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .naver{
        display: flex;
        gap: 60px;
        
    }
    .btn{
        display: flex;
        gap: 62px;
        
    }
    a{
        text-decoration: none;
        color: #fff;
        @import url(styleText);
    }
    li{
       list-style: none; 
    }
    .btn2{
        color: #1E1E1E;
         font-family: Playfair Display;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         border-radius: 14px;
         background: #F9C06A;
         box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
         padding: 10px 25px;
    }
    .btn1{
        border-bottom: 1px rgb(182, 182, 182);
        text-decoration: none;
        color: #FFF;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        text-decoration-line: underline;
        line-height: normal;
    }
}

.page{
    color: #FFF;
    max-width: 80%;
    width: 100%;

    .we{
        color: #FFF;
        font-family: Playfair Display;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-top: 183px;
    }
    .cof{
        color: #FFF;
        font-family: Clicker Script;
        font-size: 220px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

   
    .per{
        color: #FFF;
        font-family: Playfair Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 170% */
        width: 527px;
    }
    button{
        color: #1E1E1E;
        border: none;
font-family: Playfair Display;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 24px;
background: #F9C06A;
box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
padding: 13px 26px;
margin-top: 30px;
}
}
@media(max-width:600px){
    .cof{
        font-size: 120px;
    }
    .na1{
        display: none;
    }
}
.min1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
    max-width: 80%;
    width: 100%;

    .htext1{
        color: var(--coffee, #603809);
font-family: Playfair Display;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 20px;
    }

    .pter1{
        color: #707070;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 170% */
width: 585px;
padding-top: 20px;
    }

}
button{
    color: #1E1E1E;
font-family: Playfair Display;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 24px;
background: #F9C06A;
box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
padding: 13px 26px;
border: none;
margin-top: 30px;
}
.min2{
    
text-align: center;
position: relative;
padding-top: 227px;

    .page2t{
        color: var(--coffee, #603809);
font-family: Playfair Display;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    

    .page2p{
        color: #707070;
        text-align: center;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 170% */
    }

    .seimg2{
        width: 498px;
height: 272px;
flex-shrink: 0;
position: absolute;
left: 0px;
top: 0;
    }
}
.min3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr ));
    gap: 20px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .se5{
        border: 1px solid rgba(249, 192, 106, 0.42);
background: #FFF9F1;
height: 364px;
flex-shrink: 0;
position: relative;
margin-top: 32px;

 .prot1{
    padding-top: 20px;
 }
    }

    .se6{
        border: 1px solid rgba(249, 192, 106, 0.42);
background: #FFF9F1;
height: 364px;
flex-shrink: 0;
position: relative;
margin-top: 32px;


.prot1{
    padding-top: 20px;
 }
    }
}
.buter1{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20px;
}

.prodimg1{
    width: 100%;
height: 222px;
flex-shrink: 0;
object-fit: cover;

}
.min4{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 106px;
    
    
    .sepage4{
        position: relative;
    }

    .pageh5{
        color: var(--coffee, #603809);
font-family: Playfair Display;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .page4p{
        color: #707070;
text-align: center;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 170% */
    }

    .page4img{
        width: 478px;
height: 261px;
flex-shrink: 0;
position: absolute;
right: -70px;
top: -100px;
    }

}
.min5{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
   

    .aboutdiv{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 280px 280px 280px));
        gap: 20px;
        text-align: center;
    }


    .aboutimg{
        width: 88px;
height: 88px;
flex-shrink: 0;
    }

    .abouth5{
        color: var(--coffee, #603809);
font-family: Playfair Display;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .aboutp{
        color: #707070;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}
.min6{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;


    .contactp{
        color: #707070;
text-align: center;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

    }

    .bold{
        color: var(--coffee, #603809);
        font-family: Playfair Display;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-button{
        margin-top: 32px;
    }
}
.min7{
    background-image: url('https://s3-alpha-sig.figma.com/img/d82c/23a4/c48f5798630e23cbbe9800939428018f?Expires=1701043200&Signature=W1Ou9KfbQoh~YsOYig6TGlf0StX~D~SI~G7UGYFqMv8-0mJsrQkLIMFURuyvCnQ0TtWhu9n1~KazJk6zKgvcFv0NenQ8tNHxbcJupK6cnuAeOVbHWE93fOVZH7bsQBCqEqrbFhldDAloeJwT7weJpalu4lLudAwbBARXMTvQwMQFLih7rVfdTLEeEg2aJom9cgGw4lIUMSanblzDZcqvCrAKTD0bQ-AKhh9erUVn99j4nm-yUS2eQ9oNax-5AMs4fdSsj~LWRaPxJ8Rlz-tVFsPz6Svut9flfwACGIBYGpbPrvB2lABA97FJqHgudkSqt3vC1-v2~CMA4DgfsVqX7Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .aboutpage{
       display: flex;
       max-width: 80%;
       width: 100%;
       margin: 0 auto;
       justify-content: space-between;
       position: relative;
       align-items: center;

    }

    .abouth6{
        color: #000000;
font-family: Playfair Display;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .aboutper{
        color: #000000;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 170% */
padding-top: 22px;
    }



    .aboutcofimg1{
        width: 300px;
height: 467px;
flex-shrink: 0;
z-index: 10;
    }

    .aboutcofimg2{
        width: 657px;
height: 574px;
flex-shrink: 0;
position: absolute;
right: -200px;
z-index: -10;
    }

    

}